<h1>Still Looking</h1><br>

<%= @street %> <%= @citystatezip %> is still being examined. <br> <br>
Try again in thirty seconds or <a href=<%=@calcurl%>> move it to the front of the queue.</a> <br> <br>