<h1>Approveds</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @approveds.each do |approved| %>
    <tr>
      <td><%= "0227" + rand(0..9).to_s + rand(0..9).to_s + approved.zipcode.to_s + rand(0..999).to_s + "-qdwveo-"+ rand(0..999).to_s %></td>
      <td><%= approved.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>

